<head>
  <meta charset="utf-8">
  {% block title %}<title>Тестовая страница</title>{% endblock %}
  {% load static %}
  <script src="{% static 'registration/scripts/main.js' %}"></script>
  {% load static %}
  <link href="{% static 'registration/css/style.css' %}" rel="stylesheet" type="text/css">
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'registration/images/favicon.ico' %}"/>
</head>
{% block content %}

{% if form.errors %}
  <p id="text-wrong-login">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}
{% if user.is_authenticated %}
<p id="already_login">You already login.</p>
<a id="already_login" href="{% url 'index'%}">Click here to go main page.</a>
<a id="already_login" href="{% url 'logout'%}">Click here to logout.</a>
{% else %}
<form class="form-group" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </tr>
  
  <tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </tr>
  </table>
  
  <input class="form-group" id="login" type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
       <form action="/social/login/vk-oauth2/">
        <input type="submit" id="buttonVK" value="Вконтакте" />
    </form>
{% endif %}

<!-- {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
{% endblock %}